<launch>

    <arg name="map_frame"   value="map"/>
    <arg name="ned_frame"   value="ned"/>
    <arg name="odom_frame"   value="odom"/>
    <arg name="base_frame"   value="base_footprint"/>

    <!--
    <arg name="origin_lat"    value="33.59554271426774"/>
    <arg name="origin_lng"    value="130.21900769548205"/>

    <arg name="angle_offset"   value="42.84752885475223"/>
    <arg name="scale_offset"   value="1.0002455054972383"/>
    -->

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <node pkg="bot_navigation" type="latlng2pos" name="latlng2pos" output="screen">
        <param name="map_frame_name"   value="$(arg map_frame)"/>
        <param name="odom_frame_name"   value="$(arg odom_frame)"/>
        <param name="visualization_marker"   value="True"/>

        <rosparam file="$(find bot_navigation)/param/gnss_offset.yaml"/>
        <!--
        <param name="fix_value"   value="3"/>
        <param name="float_value"   value="2"/>
        -->

        <!--
        <param name="origin_lat"   value="33.59554271426774"/>
        <param name="origin_lng"   value="130.21900769548205"/>

        <param name="angle_offset"   value=" 42.84752885475223"/>
        <param name="scale_offset"   value="1.0002455054972383"/>
        -->

        <!--
        <param name="origin_lat"   value="$(arg origin_lat)"/>
        <param name="origin_lng"   value="$(arg origin_lng)"/>

        <param name="angle_offset"   value="$(arg angle_offset)"/>
        <param name="scale_offset"   value="$(arg scale_offset)"/>
        -->

        <param name="solutions_flag"   value="all"/>

        <param name="odom_topic_name"   value="odometry/qzss"/>
        <param name="nav_sat_fix_topic_name"   value="/fix"/>
    </node>

    <!-- //////////////////////////////////////////////////////////////////////// -->

    <node pkg="bot_navigation" type="pos2latlng" name="pos2latlng" output="screen">
        <!--
        <param name="fix_value"   value="3"/>
        <param name="float_value"   value="2"/>

        <param name="origin_lat"   value="$(arg origin_lat)"/>
        <param name="origin_lng"   value="$(arg origin_lng)"/>

        <param name="angle_offset"   value="$(arg angle_offset)"/>
        <param name="scale_offset"   value="$(arg scale_offset)"/>
        -->

        <rosparam file="$(find bot_navigation)/param/gnss_offset.yaml"/>

        <!-- <param name="solutions_flag"   value="all"/> -->

        <!-- <param name="odom_topic_name"   value="odometry/qzss"/> -->
        <!-- <param name="nav_sat_fix_topic_name"   value="/fix"/> -->
        <!-- <param name="nav_sat_fix_topic_name"   value="/qzss_navsatfix"/> -->
        <param name="pub_topic_name"    value="filtered_latlng"/>
        <param name="sub_topic_name"    value="odometry/filtered"/>
  </node>

</launch>
